.body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-header,
.App-main,
.App-footer {
  background-color: #282c34;
  color: white;
}

.App-header {
  font-size: calc(5px + 2vmin);
}

 .App-main {
  min-height: 100vh;
}

.main-section {
  border: 3px solid white;
  padding: 10px;
  margin: 0 100px;
}


