.btn {
    height: 25px;
    width: 125px;
    margin: 10px;
}

.text {
   height: 50px;
   width: 100ex; 
}

.paragraph {
  text-align: left;
  text-wrap: wrap;  
}

.section-header {
  color: brown;
  font-size: large;
  margin: 5px;
}